<nav class="navbar navbar-default navbar-inverse navbar-fixed-top df-header hide">
	<div class="navbar-header">
		<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="brand-wrap">
			<img src="img/logo-32x32.png" alt="" />

			<div class="pull-left">
				<a href="#" class="navbar-brand df-title">DreamFactory Portal</a>
				<br />
				<small>Sandbox Application</small>
			</div>
		</div>
	</div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li>
				<a href="https://www.dreamfactory.com/developers/documentation" target="_blank">Docs</a>
			</li>
			<li>
				<a href="https://www.dreamfactory.com/developers/live_API" target="_blank">API</a>
			</li>
			<li>
				<a href="https://www.dreamfactory.com/developers/faq" target="_blank">FAQs</a>
			</li>
			<li>
				<a href="https://www.dreamfactory.com/developers/support" target="_blank">Support</a>
			</li>
			<li>
				<a href="#" id="app-close" target="_blank">Close</a>
			</li>
		</ul>
	</div>
</nav>